body {
  header, footer {
  background-color: #f2f2f2;
  padding: 19px;
}
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h2 {
  color: rgb(10, 125, 10);
}

footer p {
  color: yellowgreen;
  font-size: 14px;
}

.site-title {
  color: darkgreen;
}

#my-image {
  box-shadow: 0 0 2px 1px black;
}

ul.hobbies {
  list-style-type: square;
}



nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  background-color: #ddd;
  border: 1px solid #333;
  padding: 8px 12px;
}

nav a:hover,
nav a:focus {
  background-color: #aaa;
}
